.mat-icon-ux {
    width: 100px;
}
.icon {
  font-size: 48px;
}
.chart-height {
  height: 300px;
}

.mat-row:nth-child(even){
  background-color:rgb(0,178,178);
  }

.mat-row:nth-child(odd){
  background-color:rgb(57, 73, 81);
  }

.miniatura {
  width: 5%;
  margin-left: 1000px;
}